.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# rust_pro_template
src/p_01_init/target/*
src/p_02_guess_number/target/*
src/p_03_basic_concept/target/*
src/p_04_ownership/ownership_string/target/*