.error_text{
    color: #dc143c;
    font-weight:bold;
    font-size: 16px;
}

.tag_text{
    color:"#FFA366";
}

.box{
    padding:10px;
    background-color:#b9b1b1;
    border-radius: 10px;
    color:#ebe0db;
}